@model IEnumerable<WebApplicationForTest.Models.Темы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выбор темы</h2><br /><br />


<form method="post" action="~/Тесты/Index">
    <table class="table">

        
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Разделы.Название_раздела) <br /><br />
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Название_темы)
                    @Html.RadioButtonFor(modelItem => item.Название_темы, item.Название_темы) <br /><br />
                </td>


                <th></th>
            </tr>


        } 
       
        <tr><td><input type="submit" value="Ок" /> </td><td></td></tr>
        <!--
    foreach (var item in Model)
    {
        <tr>
            <td>
                Html.DisplayFor(modelItem => item.Название_темы)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.Разделы.Название_раздела)
            </td>
            <td>
                Html.ActionLink("Edit", "Edit", new { id = item.id_темы }) |
                Html.ActionLink("Details", "Details", new { id = item.id_темы }) |
               Html.ActionLink("Delete", "Delete", new { id = item.id_темы })
            </td>
        </tr>
    }
    -->
    </table>
</form>