@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Выберите действие</h3>

    @if ((ViewBag.Login == "redactor") && (ViewBag.Password == "redactor12345"))
    {
        <form method="post" action="ActionRedactor">
            <table>
                <tr><td><p><a href="/Home/ConfigTest/">Настройка теста</a> </p> </td> </tr>
                <tr><td><p><a href="/Home/AddTheory/"> Добавить теоретические вопросы</a> </p></td> </tr>
                <tr><td><p><a href="/Home/AddPractice/">Добавить практические задания</a> </p></td> </tr>
                <tr><td><p><a href="/Home/RedactTask/">Внести изменения в базу данных заданий</a> </p></td> </tr>

            </table>
        </form>
    }
    else if ((ViewBag.Login == "otchet") && (ViewBag.Password == "otchet12345"))
    {
        <form method="post" action="ActionAdmin">
            <table>
                <tr> <td> <p><a href="/Home/AddTemplateReport/">Создать шаблон отчета</a> </p></td> </tr>
                <tr> <td> <p><a href="/Home/ViewReport/">Сгенерировать отчет</a> </p></td> </tr>


            </table>
        </form>
    }
    else
    //((ViewBag.Login == "user") && (ViewBag.Password == "user12345"))
    {
        <form method="post" action="~/Темы/Index">
            <table>
                <tr>
                    <td><p>Фамилия:</p></td>
                    <td><input type="text" name="LastName" /></td>
                </tr>
                <tr>
                    <td><p>Имя: </p> </td>
                    <td><input type="text" name="FirstName" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Отчество: </p>
                    </td>
                    <td><input type="text" name="Otchectvo" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Подразделение: </p>
                    </td>
                    <td><input type="text" name="Unit" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Должность: </p>
                    </td>
                    <td><input type="text" name="Position" /></td>
                </tr>

                <tr>
                    <td>

                        <span>Теория</span>

                        <big>
                            @Html.CheckBox("EnableTheory", true)
                        </big> <br /><br />
                    </td>
                </tr>
                        <tr>
                            <td>
                <span>Практика</span>
            <big>
                @Html.CheckBox("EnablePractice", false)<br /><br />
            </big>
                             </td>

                        </tr>
                <tr>
                    <td>
                        <p><big>Дата:@DateTime.Now.ToString("MM/dd/yyyy HH:mm") </big></p><br />
                    </td>

                </tr>
                <tr><td><input type="submit" value="Тестирование" /> </td><td></td></tr>
            </table>
        </form>
    }
    <!-- else
     {
         <form method="post" action="Index">
             <table>
                 <tr>
                     <td><p>Ошибка ввода данных!</p></td>
                 </tr>
                 <tr>   <td>   <p> <input type="hidden" value="0" name="Error" /></p></td></tr>
                 <tr><td><input type="submit" value="Ввести снова" /> </td><td></td></tr>

             </table>
         </form>
             }
             -->
</div>
