@model IEnumerable<WebApplicationForTest.Models.Вопросы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тест "@ViewBag.НазваниеТеста"</h2> <br /><br />


<form method="post" action="~/Результат_вопроса/Index">
    <table class="table">
        <tr>

            <th>Выберите верный ответ<br /><br /></th>



        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <br /><br /> @Html.DisplayFor(m => item.Текст_вопроса)<br /><br />
                </td>

            </tr>


            foreach (var itemO in item.Ответы)
            {

            <tr>
                <td>
                    @Html.DisplayFor(m=>itemO.Текст_ответа)
                </td>
                <td>

                    @Html.RadioButton((item.id_вопроса).ToString(), itemO.Текст_ответа)
                </td>
            </tr>
                    }
                
            }

            <tr><td><br /><br /><input type="submit" value="Отправить" /> </td><td></td></tr>

        </table>
</form>