@model IEnumerable<WebApplicationForTest.Models.Тесты>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доступные тесты по теме "@ViewBag.НазваниеТемы"</h2> <br /><br />


<form method="post" action="~/Вопросы/Index">
    <table class="table">
        <tr>
           
                <th>Название теста</th>
            
            
                <th>Число вопросов</th>
                
            
        </tr>
        
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название_теста)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Количество_вопросов)
            </td>
            <td>
                @Html.RadioButtonFor(modelItem => item.Название_теста, item.Название_теста)
            </td>
           
        </tr>
        }

        <tr><td><input type="submit" value="Начать" /> </td><td></td></tr>

    </table>
</form>