@model IEnumerable<WebApplicationForTest.Models.Ответы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доступные тесты по теме "@ViewBag.НазваниеТеста"</h2> <br /><br />


<form method="post" action="~/Результат_вопроса/Index">
    <table class="table">
        <tr>

            <th>Выберите верный ответ</th>


        </tr>


        @foreach (var item in Model)
        {

            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Вопросы.Текст_вопроса)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Текст_ответа)
                    @Html.RadioButtonFor(modelItem => item.Текст_ответа, item.Текст_ответа)
                </td>

            </tr>
        }

        <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>

    </table>
</form>
